.social-login
  a(href=routes.github)
    button.social-login--github
      span
        i.fab.fa-github
      |Continue with Github
  a(href=routes.facebook)
    button.social-login--facebook
      span
        i.fab.fa-facebook
      |Continue with Facebook