extends layouts/main

block content
  .form-container
    form(action=`${routes.users}${routes.changePassword}`, method="post")
      input(type="password", placeholder="Current Password", name="oldPassword")
      input(type="password", placeholder="New Password", name="newPassword")
      input(type="password", placeholder="Verify New Password", name="newPassword1")
      input(type="submit", value="Change Password")