extends layouts/main

block content
  .form-container
    form(action=`${routes.users}${routes.editProfile}`, method="post", enctype="multipart/form-data")
      .file-upload
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
      input(type="text", placeholder="Name", name="name", value=loggedInUser.name)
      input(type="email", placeholder="Email", name="email", value=loggedInUser.email)
      input(type="submit", value="Update Profile")
    