extends layouts/main
include mixins/videoBlock

block content
  .videoTemplate
    each item in videos
      +videoBlock({
        id: item.id,
        videoFile: item.fileUrl,
        title: item.title,
        views: item.views
      })