extends layouts/main
include mixins/videoBlock

block content
  .videos
    each item in videos
      +videoBlock({
        id: item.id,
        videoFile: item.videoFile,
        title: item.title,
        views: item.views
      })
        