extends layouts/main

block content
  .form-container
    form(action=`${routes.videos}${routes.upload}`, method="post")
      label(for="videofile") Video File
      input(type="file", id="videofile", name="videofile", required="true")
      input(type="text", placeholder="Title", name="title", required="true")
      textarea(name="description" placeholder="Description")
      input(type="submit", value="Upload Video")