extends layouts/main

block content
  .form-container
    form(action=`${routes.users}${routes.changePassword}`, method="post")
      input(type="password", placeholder="Current Password", name="Current Password")
      input(type="password", placeholder="New Password", name="New Password")
      input(type="password", placeholder="Verify New Password", name="Verify New Password")
      input(type="submit", value="Change Password")