.videoPlayer {
  position: relative;
  video {
    width: 100%;
    max-width: 100%;
  }
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  .videoPlayer__controls {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 16;
    .videoPlayer__columns:first-child {
      display: flex;
      align-items: center;
      justify-self: start;
      #jsVolumeBtn {
        margin-right: 10px;
      }
      #jsVolumeBar {
        padding: 0;
        opacity: 1;
        position: absolute;
        top: -60px;
        left: -25px;
        transform: rotate(-90deg);
        width: 80px;
      }
    }
    .videoPlayer__columns:nth-child(2) {
      justify-self: center;
    }
    .videoPlayer__columns:last-child {
      justify-self: end;
    }
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
}
