.user-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    .user-profile__username {
      font-size: 16px;
      margin-top: 15px;
    }
  }
  .user-profile__bts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 35px;
    a:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
