include ../mixins/flashMessage
doctype html
html
  head
    script(src="https://kit.fontawesome.com/65adae6064.js", crossorigin="anonymous")
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="/static/styles.css")
  body
    if messages.info
      +flashMessage({
        type: "info",
        text: messages.info,
      })
    else if messages.success
      +flashMessage({
        type: "success",
        text: messages.success,
      })
    else if messages.error
      +flashMessage({
        type: "error",
        text: messages.error,
      })
    include ../partials/header
    main
      block content
    include ../partials/footer
    script(src="/static/main.js")
    
